*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inter: "Inter", sans-serif;

  --title: 700 1.5rem/2rem var(--inter);
  --label: 600 1rem/1.25rem var(--inter);
  --paragraph: 500 1rem/1.25rem var(--inter);
  --link: 500 0.875rem/1rem var(--inter);

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5Db;
  --border-hover: #B9C2D0;
}

html {
  scroll-behavior: smooth;
}

.desktop-only {
  display: none;
}

.hide {
  display: none !important;
}

body {
  background-color: var(--background-primary);
}

.container {
  padding: 4.875rem 2rem 15.625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  width: 100%;
  max-width: 39.1875rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.flex-centralized {
  justify-content: center;
  align-items: center;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-12 {
  gap: 0.75rem;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;

  font: var(--link);
  color: var(--color-brand);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font: var(--title);
  color: var(--content-primary);
}

span {
  font: var(--paragraph);
  color: var(--content-secondary);
}

ul[role="list"] {
  list-style: none;
}

.logo {
  max-height: 2.5rem;
  justify-content: center;
}

.logo img {
  width: 9.6875rem;
  height: 2.5rem;
}

.add-item {
  flex-direction: column;
  margin-top: 2.75rem;

  & input {
    width: 100%;
    height: auto;

    padding: 0.6875rem 1.125rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    
    font: var(--paragraph);

    &::placeholder {
      color: var(--content-tertiary);
    }

    &:active {
      border-color: var(--color-brand);
    }

    &:focus-within {
      border-color: var(--color-brand);
    }
  }

  & button {
    width: 100%;
    background-color: var(--color-brand);
    border: none;
    border-radius: 0.75rem;

    font: var(--label);
    color: var(--always-white);
    padding-block: 0.75rem;
  }
}

.item-list {
  margin-top: 2.5rem;

  & .items {
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: var(--background-secondary);
    display: flex;
    gap: 0.75rem;
    align-items: center;

    & .checkbox {
      max-width: 1rem;
      width: 100%;
      height: 1rem;
      background-color: var(--background-secondary);
      border: 1px solid var(--border-primary);
      border-radius: 0.375rem;

      &.checked {
        background-color: var(--color-brand);
        border-color: var(--color-brand);
      }
    }
  
    & .item {
      width: 100%;
    }

    & .item-delete {
      max-width: 2rem;
      width: 100%;
      height: 2rem;

      & img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.alert {
  width: calc(100% - 4rem);
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--color-danger);

  position: fixed;
  bottom: 10.625rem;

  animation: alert 3000ms ease forwards;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }

  & span {
    width: 100%;
    font: var(--label);
    color: var(--always-white);
  }

  &.hide {
    animation: none;
    display: none;
  }
}

@media (width >= 80em) {
  .desktop-only {
    display: flex;
  }

  .container {
    padding: 1.5625rem 0 13.5625rem;
  }

  .container > * {
    width: 100%;
    height: auto;
  }

  .link-button {
    margin-top: 3.875rem;
  }

  .add-item {
    flex-direction: row;
    justify-content: space-between;

    & input:hover {
      border-color: var(--border-hover);
    }

    & button {
      max-width: 10rem;

      cursor: pointer;

      & label {
        pointer-events: none;
      }

      &:hover {
        background-color: var(--color-brand-hover);
      }
    }
  }

  .item-list {
    & .items {
      padding: 0.5rem 0.75rem;
      
      & .checkbox {
        cursor: pointer;
      
        &:hover {
          border-color: var(--border-hover);
        }
      }

      & .item-delete {
        cursor: pointer;

        transition: scale 400ms;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }

  .alert {
    bottom: 8.5625rem;

    & .btn-close {
      cursor: pointer;

      transition: scale 400ms;

      &:hover {
        scale: 1.1;
      }
    }
  }
}

@keyframes alert {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}
